venv/ 

api_return.json 

.env 

__pycache__/  

taxonomy_func.py 


cursorDirect/ 

test_npi_sync_substance_mental.py 

temp_dir_csv.py 

provider_types.ipynb 

filter_large_npi_csv.py 

filtered_npi_providers.csv 

npi_async_requests.py 

final_filter.py  

npi_ingestion/table_operations.py